a {
  color: #e1e8eb;
  text-decoration: none;
}

.active {
  color: #7952b3;
  text-decoration: underline;
}

.link:hover,
a:hover:not(.home, .login-signup) {
  color: #7952b3;
}

.home {
  margin-left: 15%;
  font-family: cursive;
  font-size: xx-large;
}

.login-signup-container {
  float: right;
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  width: 8%;
}

.login-signup {
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}
